<head>
<h1 align=center style= "color:#ffffff;">지난글</h1>
<br>
</head>

<body >
<% @every_post.each do |p|%>
<h5 align=center style=" color:#ffffff;">제목: <%= p.title %> </h5>
<h5 align=center style= "color:#ffffff;">내용: <%= p.content %> </h5>
<h5 align=center style= "color:#ffffff;">보낸 시간 : <%= p.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분%S초") %></h5>
<br>

<a  style="margin-left:625px;" class="btn btn-default"  href = "/update_view/<%=p.id%>" role="button">수정</a>
<a  class="btn btn-default"  href = "/destroy/<%=p.id%>" role="button" >삭제</a>
<hr>
</body>

<%end%>
<h1 style="margin-left:630px;" class="btn btn-default"  ><a href="/">게시판켜기</a></h1>